<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>
<a href="/say/hello">hello</a>
<%= link_to "2Hello",say_hello_path %>
<p>
  加法：<%= 1+2%>
  字符串连接:<%= "cow" + "sss"%>
  一小时内时间的表达:<%=1.hour.from_now%>

</p>